* {
    text-decoration: none;
    margin:0px;
    padding: 0px;
}

body{
    margin: 0px;
    Padding: 0px;
    font-family: 'open-Sans',sans-serif;
}

.wrapper{
    width: 1100px;
    margin: auto;
    position: relative;
}
.logo a{
    font-size: 50px;
    font-weight: 800;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    color:#03c7f8 ;
}
.menu{
    float: right;
}
nav{
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: rgb(190, 241, 216);
    z-index: 1;
    border-bottom:1px solid #e1bee4  ;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
    float: left;
}
nav ul li a{
    color: rgb(5, 170, 80);
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
    text-emphasis-color: #df8fa7 ;
}
nav ul li a:hover{
    text-decoration: none;
    background:#230064;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom{
    margin-top: 50px;
    margin-bottom: 50px;
}
.kolom .deskripsi{
    font-size: 50px;
    font-weight: bold;
    font-family: 'comic Sans ms';
    color:#006b3e ;
}
a.tbl-biru{
    background:#56f5cd ;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(5, 5, 5);
    cursor: pointer;
    font-weight: bold;
}
a.tbl-biru:hover{
    background:#8E0505 ;
    text-decoration: none;
}
a.tbl-pink{
    background:#56f5cd;
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: rgb(5, 5, 5);
    cursor: pointer;
    font-weight: bold;
}
a.tbl-pink:hover{
    background:#e49eda;
    text-decoration: none;
}
p{
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.btn a{
    
    background: rgb(7, 7, 7);
    color: rgb(202, 153, 198);
    padding: 20px 40px;
    display: inline-block;
    font-size: 80%;
    text-decoration: none;
    font-family: 'roboto';
    border-radius: 3px;
}
.price{
    display: inline-block;
    font-size: 150%;
}

.contents{
    height:500px;
  }
  
  /* Gantikan property border-bottom milik section-title */
  .section-title {
    border-bottom:2px solid #5ab1e0;
  }
  
  /* Gantikan property float milik contents-item ke left */
  .contents-item{
    float:left;
    margin-right:35px;
  }
  .deskripsi{
    font-size: 50px;
    font-weight: bold;
    font-family: 'comic Sans ms';
    color:#020202 ;
}
#contact{
    z-index: 1;
    border-top:1px solid #070707  ;
}
.footer{
width: 100%;
position: relative;
display: flex;
flex-wrap: wrap;
margin: auto;
}
.footer-section{
    width: 20%;
    margin: 0 auto;
    
}
h3{
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 20px;
    color: #030303 ;
    width: 100%;
    line-height: 50px;
}